################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/ContasPagar/FileContentIndex/317b72c2-e8d4-42fd-ba7b-d181c41ef01f.vsidx
