@page "/pagamentos/create"



<PageTitle>Novo Pagamento</PageTitle>

<h1>Novo Pagamento</h1>

<hr />

<EditForm Model="pagamento" OnValidSubmit="AddPagamento">
    <DataAnnotationsValidator />
    @* <ValidationSummary /> *@
    <MudCard>
        <MudCardContent>

            <MudDatePicker PickerVariant="PickerVariant.Dialog" Label="Data de Pagamento" DisplayMonths="2"
                           TitleDateFormat="dddd, dd MMMM" @bind-Date="pagamento.DataPagamento" Required="true" PickerClosed="SelecaoPorPeriodo" />
            <ValidationMessage For="() => pagamento.DataPagamento" RequiredError="Data de pagamento é obrigatório." />
            
                <MudSelect T="int" @bind-Value="pagamento.DespesaId" Label="Despesa" Placeholder="Selecione uma despesa" Immediate="true" Required="true">
                <MudSelectItem T="int" Value="0">Selecione Opção</MudSelectItem>
                @foreach (var tipo in lstDespesa)
                {
                    <MudSelectItem T="int" Value="tipo.DespesaId">@tipo.Nome</MudSelectItem>
                }
            </MudSelect>
            <ValidationMessage For="() => pagamento.DespesaId" RequiredError="A despesa é obrigatória." />

            <MudNumericField @bind-Value="pagamento.ValorPagar" Label="Valor a pagar" Immediate="false" Format="N2" Culture="@_ptBr" Required="true" />
            <ValidationMessage For="() => pagamento.ValorPagar" RequiredError="O Valor a pagar é obrigatório." />

            <MudCheckBox @bind-Value="@isPagamentoRecorrente" Label="Pagamento Recorrente" />

            @if (isPagamentoRecorrente)
            {
                <MudNumericField @bind-Value="quantidadeRecorrencia" Label="Quantidades de Ocorrencia" Immediate="false"  Required="true" />
            }

            <MudText>Débito Automático?</MudText>
            <MudRadioGroup @bind-Value="pagamento.DebitoAutomatico">
                <MudRadio Value="true" Color="Color.Primary" Dense="false">Sim</MudRadio>
                <MudRadio Value="false" Color="Color.Secondary" Dense="true">Não</MudRadio>
            </MudRadioGroup>

        </MudCardContent>
        <MudCardActions>
            <MudButton ButtonType="ButtonType.Submit" Variant="Variant.Filled" Color="Color.Primary" >Salvar</MudButton>
            <MudButton  ButtonType="ButtonType.Button" OnClick="NavigateToIndexPagamento" Variant="Variant.Outlined" Color="Color.Secondary" Class="ml-auto">Retornar</MudButton>
        </MudCardActions>
    </MudCard>
</EditForm>

@code {

    private Pagamento pagamento = new Pagamento();

    private List<Despesa> lstDespesa = new List<Despesa>();

    public CultureInfo _ptBr = CultureInfo.GetCultureInfo("pt-BR");

    private bool isPagamentoRecorrente = false;

    private int quantidadeRecorrencia = 1;

    public DateTime? newDate { get; set; }


    protected override async Task OnInitializedAsync()
    {
        await GetDespesa();
        pagamento.DespesaId = 0;
    }

    private async Task GetDespesa()
    {
        lstDespesa = await despesaRepositorio.GetDespesasAsync();
    }


    // To protect from overposting attacks, see https://aka.ms/RazorPagesCRUD
    public async Task AddPagamento()
    {

        var contexto = new ValidationContext(pagamento, null, null);
        var resultados = new List<ValidationResult>();

        bool isValid = Validator.TryValidateObject(pagamento, contexto, resultados, true);

        if (pagamento.DespesaId <= 0) 
        {
            isValid = false;
        }

        if (isValid)
        {
            await pagamentoRepositorio.AddPagamentoAsync(pagamento);

            if (isPagamentoRecorrente)
            {
                
                for (int i = 2; i <= quantidadeRecorrencia; i++)
                {                                    
                    newDate = pagamento.DataPagamento!.Value.AddMonths(1);

                    pagamento.DataPagamento = newDate;

                    await pagamentoRepositorio.AddPagamentoAsync(pagamento);
                }
            }           
        }

        NavigationManager.NavigateTo("/pagamentos");
  
    }

    private void SelecaoPorPeriodo()
    {
        if (pagamento.DataPagamento < DateTime.Today)
        {
            pagamento.DataPagamento = DateTime.Today.AddDays(1);
        }
    }

    public void  NavigateToIndexPagamento()
    {
        NavigationManager.NavigateTo("/pagamentos");
    }

}
