@page "/pagamentos/edit"

<PageTitle>Atualizar Pagamento</PageTitle>

<h1>Atualizar Pagamento</h1>

<hr />
@if (pagamento is null)
{
    <p><em>Carregando...</em></p>
}
else
{
    <EditForm Model="pagamento" OnValidSubmit="UpdatePagamento">
        <DataAnnotationsValidator />
        @* <ValidationSummary /> *@
        <MudCard>
            <MudCardContent>
                <MudDatePicker PickerVariant="PickerVariant.Dialog" Label="Data de Pagamento" DisplayMonths="2"
                               TitleDateFormat="dddd, dd MMMM" @bind-Date="pagamento.DataPagamento" Required="true" PickerClosed="SelecaoPorPeriodo" />
                <ValidationMessage For="() => pagamento.DataPagamento" RequiredError="Data de pagamento é obrigatório." />

                <MudNumericField @bind-Value="pagamento.ValorPagar" Label="Valor a pagar" Immediate="false" Format="N2" Culture="@_ptBr" Required="true" />
                <ValidationMessage For="() => pagamento.ValorPagar" RequiredError="O Valor a pagar é obrigatório." />
                <MudNumericField @bind-Value="pagamento.ValorPago" Label="Valor Pago" Immediate="false" Format="N2" Culture="@_ptBr"  />

                <MudSelect T="int" Label="Despesa" @bind-Value="pagamento.DespesaId" Required="true">
                    <MudSelectItem T="int" Value="0">Selecione Opção</MudSelectItem>
                    @foreach (var tipo in lstDespesa)
                    {
                        <MudSelectItem T="int" Value="tipo.DespesaId">@tipo.Nome</MudSelectItem>
                    }
                </MudSelect>
                <ValidationMessage For="() => pagamento.DespesaId" RequiredError="O fornecedor é obrigatório." />

                <MudText>Débito Automático?</MudText>
                <MudRadioGroup @bind-Value="pagamento.DebitoAutomatico">
                    <MudRadio Value="true" Color="Color.Primary" Dense="false">Sim</MudRadio>
                    <MudRadio Value="false" Color="Color.Secondary" Dense="true">Não</MudRadio>
                </MudRadioGroup>
                <MudText>Conta paga?</MudText>
                <MudRadioGroup @bind-Value="pagamento.EstaPago">
                    <MudRadio Value="true" Color="Color.Primary" Dense="false">Sim</MudRadio>
                    <MudRadio Value="false" Color="Color.Secondary" Dense="true">Não</MudRadio>
                </MudRadioGroup>
            </MudCardContent>
            <MudCardActions>
                <MudButton ButtonType="ButtonType.Submit" Variant="Variant.Filled" Color="Color.Primary">Salvar</MudButton>
                <MudButton ButtonType="ButtonType.Button" OnClick="NavigateToIndexPagamento" Variant="Variant.Outlined" Color="Color.Secondary" Class="ml-auto">Retornar</MudButton>
            </MudCardActions>
        </MudCard>
    </EditForm>
}

@code {

    public CultureInfo _ptBr = CultureInfo.GetCultureInfo("pt-BR");
    private List<Despesa> lstDespesa = new List<Despesa>();

    [SupplyParameterFromQuery]
    public int id { get; set; }

    [SupplyParameterFromForm]
    public Pagamento? pagamento { get; set; }

    protected override async Task OnInitializedAsync()
    {
        await GetDespesa();

        if (!await PagamentoExists(id))
        {
            NavigationManager.NavigateTo("notfound");
        }
    }

    private void SelecaoPorPeriodo()
    {
        if (pagamento?.DataPagamento < DateTime.Today)
        {
            pagamento.DataPagamento = DateTime.Today.AddDays(1);
        }
    }
    public async Task GetDespesa()
    {
        lstDespesa = await despesaRepositorio.GetDespesasAsync();
    }

    public async Task UpdatePagamento()
    {

        try
        {
            if (pagamento!.EstaPago == true && pagamento.ValorPago == 0) pagamento.ValorPago = pagamento.ValorPagar;
            await pagamentoRepositorio.UpdatePagamentoAsync(pagamento);
        }
        catch (Exception)
        {
            if (await PagamentoExists(id))
            {
                NavigationManager.NavigateTo("notfound");
            }
            else
            {
                throw;
            }
        }

        NavigationManager.NavigateTo("/pagamentos");
    }

    private async Task<bool> PagamentoExists(int id)
    {
        pagamento ??= await pagamentoRepositorio.GetPagamentoAsync(id);

        if (pagamento is null)
        {
            NavigationManager.NavigateTo("notfound");
           
        }
        return true;
    }

    public void NavigateToIndexPagamento()
    {
        NavigationManager.NavigateTo("/pagamentos");
    }
}