@page "/despesas/edit"

<PageTitle>Atualizar Despesa</PageTitle>

<h1>Atualizar Despesa</h1>

<hr />
@if (despesa is null)
{
    <p><em>Carregando...</em></p>
}
else
{
    <EditForm Model="despesa" OnValidSubmit="UpdateDespesa">
        <DataAnnotationsValidator />
        <ValidationSummary />
        <MudCard>
            <MudCardContent>
                <MudTextField @bind-Value="despesa.Nome" Label="Nome" Required="true" />
                <MudText>Ativo</MudText>
                <MudRadioGroup @bind-Value="despesa.Ativo">
                    <MudRadio Value="true" Color="Color.Primary" Dense="true">Sim</MudRadio>
                    <MudRadio Value="false" Color="Color.Secondary" Dense="false">Não</MudRadio>
                </MudRadioGroup>
            </MudCardContent>
            <MudCardActions>
                <MudButton ButtonType="ButtonType.Submit" Variant="Variant.Filled" Color="Color.Primary">Salvar</MudButton>
                <MudButton ButtonType="ButtonType.Button" OnClick="NavigateToIndexDespesa" Variant="Variant.Outlined" Color="Color.Secondary" Class="ml-auto">Retornar</MudButton>
            </MudCardActions>
        </MudCard>
    </EditForm>
}

@code {

  

    [SupplyParameterFromQuery]
    public int id { get; set; }

    [SupplyParameterFromForm]
    public Despesa? despesa { get; set; }

    protected override async Task OnInitializedAsync()
    {
       
        if (!await DespesaExists(id))
        {
            NavigationManager.NavigateTo("notfound");
        }
    }


    public async Task UpdateDespesa()
    {

        try
        {
            await despesaRepositorio.UpdateDespesaAsync(despesa);
        }
        catch (Exception)
        {
            if (await DespesaExists(id))
            {
                NavigationManager.NavigateTo("notfound");
            }
            else
            {
                throw;
            }
        }

        NavigationManager.NavigateTo("/despesas");
    }

    private async Task<bool> DespesaExists(int id)
    {
        despesa ??= await despesaRepositorio.GetDespesaAsync(id);

        if (despesa is null)
        {
            NavigationManager.NavigateTo("notfound");
           
        }
        return true;
    }

    public void NavigateToIndexDespesa()
    {
        NavigationManager.NavigateTo("/despesas");
    }
}